
/* This is a simple way to put any blocks side by side in a column view, simply by adding the tags #parallel-2 to the 2 blocks, or #parallel-3 to the 3 blocks. Additionally, the tags #parallel-small and #parallel-big work to have 2 blocks side by side with one taking more space than the other, similar to having a sidebar.
 *
 * https://github.com/elgatopanzon/logseq-logtools-custom
 */

/* start: parallel blocks */
div[data-refs-self*="\"parallel-2\""], div[data-refs-self*="\"parallel-3\""], div[data-refs-self*="\"parallel-big\""], div[data-refs-self*="\"parallel-small\""] {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
div[data-refs-self*="\"parallel-2\""] > .flex.flex-row, div[data-refs-self*="\"parallel-3\""] > .flex.flex-row, div[data-refs-self*="\"parallel-big\""] > .flex.flex-row, div[data-refs-self*="\"parallel-small\""] > .flex.flex-row {
    min-width: 100%;
}

div[data-refs-self*="\"parallel-2\""] {
    min-width: 50%;
    max-width: 50%;
}
div[data-refs-self*="\"parallel-3\""], div[data-refs-self*="\"parallel-small\""] {
    min-width: 33.333%;
    max-width: 33.333%;
}
div[data-refs-self*="\"parallel-big\""] {
    min-width: 66%;
    max-width: 66%;
}
.ls-block[data-refs-self*="parallel-2"] .block-content-wrapper .tag[data-ref*="parallel-2"], .ls-block[data-refs-self*="parallel-3"] .block-content-wrapper .tag[data-ref*="parallel-3"], .ls-block[data-refs-self*="parallel-small"] .block-content-wrapper .tag[data-ref*="parallel-small"], .ls-block[data-refs-self*="parallel-big"] .block-content-wrapper .tag[data-ref*="parallel-big"] {
    display: none;
}
/* end: parallel blocks */
