@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 210;
    --ct-bg-color-s: 16%;
    --ct-bg-color-l: 17%;
    --ct-bg-color: 210, 16%, 27%;
    --ct-text-color: 213, 22%, 92%;
    --ct-primariy-color: 186, 47%, 58%;
    --ct-secondary-color: 186, 63%, 36%;
    --ct-accent-color: 140, 39%, 77%;
}

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 0;
    --ct-bg-color-s: 0%;
    --ct-bg-color-l: 100%;
    --ct-bg-color: 0, 0%, 90%;
    --ct-text-color: 210, 16%, 33%;
    --ct-primariy-color: 186, 63%, 36%;
    --ct-secondary-color: 186, 47%, 58%;
    --ct-accent-color: 140, 33%, 42%;
}