@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 210;
    --background-color-s: 16%;
    --background-color-l: 17%;
    --cl-background: 210, 16%, 27%;
    --cl-text-color: 213, 22%, 92%;
    --cl-primary: 186, 47%, 58%;
    --cl-secondary: 186, 63%, 36%;
    --cl-accent: 140, 39%, 77%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 100%;
    --cl-background: 0, 0%, 90%;
    --cl-text-color: 210, 16%, 33%;
    --cl-primary: 186, 63%, 36%;
    --cl-secondary: 186, 47%, 58%;
    --cl-accent: 140, 33%, 42%;
}