@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 234;
    --ct-bg-color-s: 35%;
    --ct-bg-color-l: 18%;
    --ct-bg-color: 234, 35%, 28%;
    --ct-text-color: 180, 11%, 98%;
    --ct-primariy-color: 4, 100%, 66%;
    --ct-secondary-color: 40, 90%, 51%;
    --ct-accent-color: 261, 35%, 62%;
}

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 0;
    --ct-bg-color-s: 0%;
    --ct-bg-color-l: 95%;
    --ct-bg-color: 0, 0%, 85%;
    --ct-text-color: 234, 35%, 32%;
    --ct-primariy-color: 4, 100%, 66%;
    --ct-secondary-color: 40, 90%, 51%;
    --ct-accent-color: 261, 35%, 52%;
}