@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 243;
    --ct-bg-color-s: 41%;
    --ct-bg-color-l: 19%;
    --ct-bg-color: 243,41%,29%;
    --ct-text-color: 30,80%,86%;
    --ct-primariy-color: 100,100%,72%;
    --ct-secondary-color: 196,78%,44%;
    --ct-accent-color: 328,100%,70%;
    --cl-yellow: 199,181,24;
}