@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 30;
    --ct-bg-color-s: 4%;
    --ct-bg-color-l: 10%;
    --ct-bg-color: 30,4%,20%;
    --ct-text-color: 24,10%,80%;
    --ct-primariy-color: 148,28%,65%;
    --ct-secondary-color: 185,15%,65%;
    --ct-accent-color: 45,70%,58%;
}