@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 221;
    --ct-bg-color-s: 15%;
    --ct-bg-color-l: 14%;
    --ct-bg-color: 221,15%,24%;
    --ct-text-color: 210,7%,94%;
    --ct-primariy-color: 14,58%,55%;
    --ct-secondary-color: 218,22%,55%;
    --ct-accent-color: 53,89%,79%;
}