@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 220;
    --background-color-s: 21%;
    --background-color-l: 16%;
    --cl-background: 220, 21%, 26%;
    --cl-text-color: 49, 13%, 83%;
    --cl-primary: 28, 100%, 70%;
    --cl-secondary: 200, 100%, 73%;
    --cl-accent: 80, 100%, 75%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 98%;
    --cl-background: 0, 0%, 88%;
    --cl-text-color: 211, 11%, 41%;
    --cl-primary: 25, 95%, 61%;
    --cl-secondary: 205, 78%, 56%;
    --cl-accent: 75, 100%, 35%;
}