@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 191;
    --ct-bg-color-s: 100%;
    --ct-bg-color-l: 10%;
    --ct-bg-color: 191, 100%, 20%;
    --ct-text-color: 180, 15%, 83%;
    --ct-primariy-color: 68, 66%, 39%;
    --ct-accent-color: 175, 54%, 48%;
    --ct-secondary-color: 45, 68%, 61%;
}

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 44;
    --ct-bg-color-s: 57%;
    --ct-bg-color-l: 94%;
    --ct-bg-color: 44, 57%, 84%;
    --ct-text-color: 180, 15%, 23%;
    --ct-primariy-color: 68, 66%, 39%;
    --ct-secondary-color: 175, 54%, 48%;
    --ct-accent-color: 45, 68%, 61%;
}