@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 210;
    --ct-bg-color-s: 6%;
    --ct-bg-color-l: 13%;
    --ct-bg-color: 210, 6%, 23%;
    --ct-text-color: 0, 0%, 87%;
    --ct-primariy-color: 208, 96%, 64%;
    --ct-secondary-color: 208, 96%, 64%;
    --ct-accent-color: 208, 96%, 64%;
}

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 0;
    --ct-bg-color-s: 0%;
    --ct-bg-color-l: 98%;
    --ct-bg-color: 0, 0%, 88%;
    --ct-text-color: 0, 0%, 20%;
    --ct-primariy-color: 355, 61%, 59%;
    --ct-secondary-color: 355, 61%, 59%;
    --ct-accent-color: 355, 61%, 59%;
}