@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 320;
    --ct-bg-color-s: 31%;
    --ct-bg-color-l: 10%;
    --ct-bg-color: 320,31%,20%;
    --ct-text-color: 40, 24%, 78%;
    --ct-primariy-color: 196, 29%, 42%;
    --ct-secondary-color: 21, 55%, 42%;
    --ct-accent-color: 53, 15%, 45%;
}

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 40;
    --ct-bg-color-s: 24%;
    --ct-bg-color-l: 78%;
    --ct-bg-color: 40,24%,68%;
    --ct-text-color: 320, 31%, 10%;
    --ct-primariy-color: 196, 29%, 37%;
    --ct-secondary-color: 21, 55%, 38%;
    --ct-accent-color: 53, 15%, 45%;
}