@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 25;
    --ct-bg-color-s: 18%;
    --ct-bg-color-l: 13%;
    --ct-bg-color: 25,18%,23%;
    --ct-text-color: 60,1%,75%;
    --ct-primariy-color: 14,58%,55%;
    --ct-secondary-color: 209,77%,64%;
    --ct-accent-color: 295,11%,57%;
}