@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 210;
    --background-color-s: 9%;
    --background-color-l: 14%;
    --cl-background: 210,9%,24%;
    --cl-text-color: 210,7%,94%;
    --cl-primary: 159,77%,49%;
    --cl-secondary: 201,80%,58%;
    --cl-accent: 38,98%,64%;
}