@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 278;
    --ct-bg-color-s: 12%;
    --ct-bg-color-l: 18%;
    --ct-bg-color: 278,12%,28%;
    --ct-text-color: 278,13%,83%;
    --ct-primariy-color: 114,83%,79%;
    --ct-secondary-color: 213,56%,51%;
    --ct-accent-color: 44,61%,78%;
}