@import '../code/base.css';

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 220;
    --ct-bg-color-s: 23%;
    --ct-bg-color-l: 95%;
    --ct-bg-color: 220, 21%, 89%;
    --ct-text-color: 234, 16%, 35%;
    --ct-primariy-color: 220, 91%, 54%;
    --ct-secondary-color: 355, 76%, 59%;
    --ct-accent-color: 347, 87%, 44%;
    --ct-external-link-color: 183, 74%, 35%;
    --ct-title-text-color: 233, 13%, 41%;
}
