@import "./nord-custom.css";

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 232;
    --ct-bg-color-s: 23%;
    --ct-bg-color-l: 18%;
    --ct-bg-color: 233, 23%, 15%;
    --ct-text-color: 227, 68%, 88%;
    --ct-primariy-color:  10, 58%, 90%;
    --ct-secondary-color: 227, 27%, 72%;
    --ct-accent-color: 199, 66%, 69%;
    --ct-title-text-color: 228, 42%, 79%;
}
