@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 232;
    --ct-bg-color-s: 23%;
    --ct-bg-color-l: 18%;
    --ct-bg-color: 232,23%,28%;
    --ct-text-color: 227, 68%, 88%;
    --ct-primariy-color: 199, 66%, 69%;
    --ct-secondary-color: 171, 47%, 69%;
    --ct-accent-color: 234, 82%, 85%;
}
