@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 229;
    --ct-bg-color-s: 19%;
    --ct-bg-color-l: 15%;
    --ct-bg-color: 229,19%,25%;
    --ct-text-color: 227, 70%, 87%;
    --ct-primariy-color: 96, 44%, 68%;
    --ct-secondary-color: 172, 39%, 65%;
    --ct-accent-color: 199, 55%, 69%;
}
