@import '../code/base.css';

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 220;
    --ct-bg-color-s: 23%;
    --ct-bg-color-l: 95%;
    --ct-bg-color: 220,23%,85%;
    --ct-text-color: 234,16%,35%;
    --ct-primariy-color: 35, 77%, 49%;
    --ct-secondary-color: 11,59%,67%;
    --ct-accent-color: 355, 76%, 59%;
}