@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 240;
    --ct-bg-color-s: 21%;
    --ct-bg-color-l: 15%;
    --ct-bg-color: 240,21%,25%;
    --ct-text-color: 226, 64%, 88%;
    --ct-primariy-color: 23, 92%, 75%;
    --ct-secondary-color: 350, 65%, 77%;
    --ct-accent-color: 316, 72%, 86%;
}
