@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 229;
    --background-color-s: 19%;
    --background-color-l: 15%;
    --cl-background: 229,19%,25%;
    --cl-text-color: 227, 70%, 87%;
    --cl-primary: 96, 44%, 68%;
    --cl-secondary: 172, 39%, 65%;
    --cl-accent: 199, 55%, 69%;
}
