@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 201;
    --ct-bg-color-s: 100%;
    --ct-bg-color-l: 12%;
    --ct-bg-color: 201,100%,22%;
    --ct-text-color: 164,60%,90%;
    --ct-primariy-color: 164,95%,43%;
    --ct-secondary-color: 42,100%,70%;
    --ct-accent-color: 180,100%,81%;
}