@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 236;
    --ct-bg-color-s: 45%;
    --ct-bg-color-l: 19%;
    --ct-bg-color: 236,45%,29%;
    --ct-text-color: 0,0%,82%;
    --ct-primariy-color: 331,100%,65%;
    --ct-secondary-color: 280,62%,64%;
    --ct-accent-color: 101,35%,55%;
}