@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 236;
    --background-color-s: 45%;
    --background-color-l: 19%;
    --cl-background: 236,45%,29%;
    --cl-text-color: 0,0%,82%;
    --cl-primary: 331,100%,65%;
    --cl-secondary: 280,62%,64%;
    --cl-accent: 101,35%,55%;
}