@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 231;
    --ct-bg-color-s: 15%;
    --ct-bg-color-l: 18%;
    --ct-bg-color: 231,15%,28%;
    --ct-text-color: 60,30%,96%;
    --ct-primariy-color: 326,100%,74%;
    --ct-secondary-color: 265,89%,78%;
    --ct-accent-color: 65,92%,76%;
}