@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 212;
    --ct-bg-color-s: 22%;
    --ct-bg-color-l: 25%;
    --ct-bg-color: 212,22%,35%;
    --ct-text-color: 60,30%,96%;
    --ct-primariy-color: 65,92%,76%;
    --ct-secondary-color: 340,82%,76%;
    --ct-accent-color: 187,71%,73%;
}