@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 204;
    --ct-bg-color-s: 14%;
    --ct-bg-color-l: 21%;
    --ct-bg-color: 204,14%,31%;
    --ct-text-color: 41,31%,74%;
    --ct-primariy-color: 172,31%,62%;
    --ct-secondary-color: 331,43%,72%;
    --ct-accent-color: 135,33%,63%;
}

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 44;
    --ct-bg-color-s: 87%;
    --ct-bg-color-l: 94%;
    --ct-bg-color: 44,87%,84%;
    --ct-text-color: 202,11%,40%;
    --ct-secondary-color: 319,65%,64%;
    --ct-primariy-color: 172,31%,52%;
    --ct-accent-color: 157,52%,43%;
}