@import '../code/base.css';
.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 33;
    --ct-bg-color-s: 36%;
    --ct-bg-color-l: 90%;
    --ct-bg-color: 33,36%,80%;
    --ct-text-color: 34,8%,35%;
    --ct-primariy-color: 0,22%,48%;
    --ct-secondary-color: 300,17%,53%;
    --ct-accent-color: 160,19%,46%;
}