@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 0;
    --ct-bg-color-s: 0%;
    --ct-bg-color-l: 13%;
    --ct-bg-color: 0,0%,23%;
    --ct-text-color: 192,15%,94%;
    --ct-primariy-color: 204,70%,53%;
    --ct-secondary-color: 283,39%,63%;
    --ct-accent-color: 168,76%,42%;
}

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 192;
    --ct-bg-color-s: 15%;
    --ct-bg-color-l: 94%;
    --ct-bg-color: 192,15%,84%;
    --ct-text-color: 210,29%,24%;
    --ct-primariy-color: 204,70%,43%;
    --ct-secondary-color: 168,76%,32%;
    --ct-accent-color: 283,39%,53%;
}