@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 210;
    --ct-bg-color-s: 12%;
    --ct-bg-color-l: 16%;
    --ct-bg-color: 210, 12%, 26%;
    --ct-text-color: 0,0%,100%;
    --ct-primariy-color: 212, 100%, 74%;
    --ct-secondary-color: 261, 76%, 76%;
    --ct-accent-color: 135, 68%, 72%;
}

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 0;
    --ct-bg-color-s: 0%;
    --ct-bg-color-l: 100%;
    --ct-bg-color: 0,0%,90%;
    --ct-text-color: 210, 12%, 16%;
    --ct-primariy-color: 212, 100%, 39%;
    --ct-secondary-color: 261, 51%, 51%;
    --ct-accent-color: 134, 60%, 33%;
}