
.dark-theme,
html[data-theme='dark'] {
  --ct-primary-color: 33,90%,65%;
  --ct-secondary-color: 168,22%,55%;
  --ct-accent-color: 196,64%,58%;
  --ct-bg-color-h: 225;
  --ct-bg-color-s: 7%;
  --ct-bg-color-l: 14%;
  --ct-text-color: 230,6%,81%;
}
