@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 200;
    --background-color-s: 19%;
    --background-color-l: 18%;
    --cl-background: 200,19%,28%;
    --cl-text-color: 180,100%,97%;
    --cl-primary: 197,100%,77%;
    --cl-secondary: 350,100%,81%;
    --cl-accent: 39,100%,71%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 98%;
    --cl-background: 0,0%,88%;
    --cl-text-color: 200,16%,42%;
    --cl-primary: 184,52%,44%;
    --cl-secondary: 275, 70%, 55%;
    --cl-accent: 76, 40%, 54%;
}