@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 27;
    --ct-bg-color-s: 12%;
    --ct-bg-color-l: 19%;
    --ct-bg-color: 27, 12%, 29%;
    --ct-text-color: 29, 36%, 88%;
    --ct-primariy-color: 40, 76%, 67%;
    --ct-secondary-color: 10, 83%, 67%;
    --ct-accent-color: 315, 35%, 71%;
}

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 26;
    --ct-bg-color-s: 24%;
    --ct-bg-color-l: 94%;
    --ct-bg-color: 26, 24%, 84%;
    --ct-text-color: 27, 12%, 19%;
    --ct-primariy-color: 29, 100%, 37%;
    --ct-secondary-color: 41, 100%, 31%;
    --ct-accent-color: 312, 38%, 41%;
}