@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 340;
    --ct-bg-color-s: 8%;
    --ct-bg-color-l: 15%;
    --ct-bg-color: 340,8%,25%;
    --ct-text-color: 43,54%,79%;
    --ct-primariy-color: 18,65%,69%;
    --ct-secondary-color: 40,54%,68%;
    --ct-accent-color: 135,31%,64%;
}