@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 200;
    --ct-bg-color-s: 19%;
    --ct-bg-color-l: 18%;
    --ct-bg-color: 200, 19%, 28%;
    --ct-text-color: 167, 22%, 79%;
    --ct-primariy-color: 196, 59%, 63%;
    --ct-secondary-color: 276, 23%, 56%;
    --ct-accent-color: 51, 100%, 50%;
}

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 200;
    --ct-bg-color-s: 19%;
    --ct-bg-color-l: 98%;
    --ct-bg-color: 200, 19%, 88%;
    --ct-text-color: 167, 22%, 29%;
    --ct-primariy-color: 196, 59%, 43%;
    --ct-secondary-color: 276, 23%, 36%;
    --ct-accent-color: 51, 100%, 40%;
}