@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 285;
    --ct-bg-color-s: 5%;
    --ct-bg-color-l: 17%;
    --ct-bg-color: 285, 5%, 27%;
    --ct-text-color: 60, 25%, 98%;
    --ct-primariy-color: 186, 71%, 69%;
    --ct-secondary-color: 97, 59%, 66%;
    --ct-accent-color: 345, 100%, 69%;
}