@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 235;
    --ct-bg-color-s: 25%;
    --ct-bg-color-l: 17%;
    --ct-bg-color: 235,25%,27%;
    --ct-text-color: 225,69%,87%;
    --ct-primariy-color: 263,100%,80%;
    --ct-secondary-color: 199,94%,65%;
    --ct-accent-color: 194,95%,76%;
}