@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 0;
    --ct-bg-color-s: 0%;
    --ct-bg-color-l: 20%;
    --ct-bg-color: 0, 0%, 30%;
    --ct-text-color: 0, 0%, 80%;
    --ct-primariy-color: 0, 0%, 65%;
    --ct-secondary-color: 0, 0%, 59%;
    --ct-accent-color: 0, 0%, 59%;
}

.white-theme, 
html[data-theme='light'] {
    --ct-bg-color-h: 0;
    --ct-bg-color-s: 0%;
    --ct-bg-color-l: 93%;
    --ct-bg-color: 0, 0%, 83%;
    --ct-text-color: 0, 0%, 20%;
    --ct-primariy-color: 0, 0%, 35%;
    --ct-secondary-color: 0, 0%, 49%;
    --ct-accent-color: 0, 0%, 49%;
}