@import '../code/base.css';

.white-theme, 
html[data-theme='light'] {
    --ct-bg-color-h: 60;
    --ct-bg-color-s: 11%;
    --ct-bg-color-l: 84%;
    --ct-bg-color: 60, 11%, 74%;
    --ct-text-color: 0, 0%, 0%;
    --ct-primariy-color: 213, 84%, 37%;
    --ct-secondary-color: 11, 37%, 36%;
    --ct-accent-color: 329, 78%, 20%;
}