@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 206;
    --ct-bg-color-s: 100%;
    --ct-bg-color-l: 8%;
    --ct-bg-color: 206, 100%, 18%;
    --ct-text-color: 35, 70%, 95%;
    --ct-secondary-color: 321, 100%, 71%;
    --ct-primariy-color: 165, 72%, 46%;
    --ct-accent-color: 33, 67%, 75%;
}

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 40;
    --ct-bg-color-s: 90%;
    --ct-bg-color-l: 96%;
    --ct-bg-color: 40,90%,86%;
    --ct-text-color: 187,100%,17%;
    --ct-primariy-color: 339,100%,67%;
    --ct-secondary-color: 155,100%,35%;
    --ct-accent-color: 187,100%,42%;
    --cl-gray: rgb(140,166,166);
}