@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 187;
    --ct-bg-color-s: 78%;
    --ct-bg-color-l: 12%;
    --ct-bg-color: 187,78%,22%;
    --ct-text-color: 187,100%,95%;
    --ct-primariy-color: 155,78%,60%;
    --ct-secondary-color: 187,78%,60%;
    --ct-accent-color: 339,62%,67%;
}

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 180;
    --ct-bg-color-s: 20%;
    --ct-bg-color-l: 98%;
    --ct-bg-color: 180,20%,88%;
    --ct-text-color: 187,100%,15%;
    --ct-primariy-color: 155,100%,35%;
    --ct-secondary-color: 187,100%,42%;
    --ct-accent-color: 339,100%,67%;
}