@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 338;
    --ct-bg-color-s: 9%;
    --ct-bg-color-l: 15%;
    --ct-bg-color: 338,9%,25%;
    --ct-text-color: 342,11%,77%;
    --ct-primariy-color: 155,78%,60%;
    --ct-secondary-color: 347,62%,67%;
    --ct-accent-color: 187,78%,60%;
    --cl-gray: rgb(140,166,166);
}

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 40;
    --ct-bg-color-s: 90%;
    --ct-bg-color-l: 96%;
    --ct-bg-color: 40,90%,86%;
    --ct-text-color: 187,100%,17%;
    --ct-primariy-color: 339,100%,67%;
    --ct-secondary-color: 155,100%,35%;
    --ct-accent-color: 187,100%,42%;
    --cl-gray: rgb(140,166,166);
}