@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: var(--ct-bg-color-h, 222);
    --background-color-s: var(--ct-bg-color-s, 16%);
    --background-color-l: var(--ct-bg-color-l, 22%);
    --cl-background: var(--ct-bg-color, var(--background-color-h), var(--background-color-s), calc(var(--background-color-l) * 1.30));
    --cl-text-color: var(--ct-text-color, var(--nord-snow-storm-nord6));
    --cl-primary: var(--ct-primariy-color);
    --cl-secondary: var(--ct-secondary-color);
    --cl-accent: var(--ct-accent-color);
}

.white-theme,
.light-theme,
html[data-theme='light'] {
    --background-color-h: var(--ct-bg-color-h, 218);
    --background-color-s: var(--ct-bg-color-s, 27%);
    --background-color-l: var(--ct-bg-color-l, 94%);
    --cl-background: var(--ct-bg-color, var(--background-color-h), var(--background-color-s), calc(var(--background-color-l) / 1.10));
    --cl-text-color: var(--ct-text-color, var(--nord-polar-night-nord0));
    --cl-primary: var(--ct-primariy-color);
    --cl-secondary: var(--ct-secondary-color);
    --cl-accent: var(--ct-accent-color);
}
