@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 220;
    --background-color-s: 16%;
    --background-color-l: 22%;
    /*--cl-background: 220,16%,28%;*/
    --cl-text-color: var(--nord-snow-storm-nord6);
    --cl-primary: 193, 43%, 67%;
    --cl-secondary: 218, 27%, 92%;
    --cl-accent: 210, 34%, 63%;
    /*
    --bullet-threading-active-color: #D08770;
    --bullet-threading-width: 2px;
    */
}

.white-theme,
.light-theme,
html[data-theme='light'] {
    --background-color-h: 218; /* nord6 */
    --background-color-s: 27%;
    --background-color-l: 94%;
    /*--cl-background: 218,27%,84%;*/
    --cl-text-color: var(--nord-polar-night-nord0);
    --cl-primary: var(--nord-frost-nord10);
    --cl-secondary: 222, 16%, 28%;
    --cl-accent: var(--nord-frost-nord9);
    /*
    --bullet-threading-active-color: #D08770;
    --bullet-threading-width: 2px;
    */
}

a[priority="A"]::before, a.priority[href="#/page/A" i]::before {
    color: #bf616a;
}
a[priority="B"]::before, a.priority[href="#/page/B" i]::before {
  color: #ebcb8b;
}
a[priority="C"]::before, a.priority[href="#/page/C" i]::before {
    color: #a3be8c;
}

:is(.dark-theme, .white-theme) .left-sidebar-inner.flex-1.flex.flex-col.min-h-0 {
    background-color: var(--bg-color);
}
