@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 220; /* nord0 */
    --background-color-s: 16%;
    --background-color-l: 22%;
    /*--cl-background: 220,16%,28%;*/
    --cl-text-color: var(--nord-snow-storm-nord5);
    /* --cl-text-color-secondary: */
    --cl-primary: var(--nord-frost-nord8);
    --cl-secondary: var(--nord-frost-nord7);
    --cl-accent: var(--nord-frost-nord9);
    /*
    --bullet-threading-active-color: #D08770;
    --bullet-threading-width: 2px;
    */
}

.white-theme,
.light-theme,
html[data-theme='light'] {
    --background-color-h: 218; /* nord6 */
    --background-color-s: 27%;
    --background-color-l: 94%;
    /*--cl-background: 218,27%,84%;*/
    --cl-text-color: var(--nord-polar-night-nord0);
    --cl-primary: var(--nord-frost-nord10);
    --cl-secondary: var(--nord-polar-night-nord1);
    --cl-accent: var(--nord-frost-nord7-1);
    /*
    --bullet-threading-active-color: #D08770;
    --bullet-threading-width: 2px;
    */
}

a[priority="A"]::before, a.priority[href="#/page/A" i]::before {
    color: hsl(var(--nord-aurora-nord11));
}
a[priority="B"]::before, a.priority[href="#/page/B" i]::before {
  color: hsl(var(--nord-aurora-nord13));
}
a[priority="C"]::before, a.priority[href="#/page/C" i]::before {
    color: hsl(var(--nord-aurora-nord14));
}

:is(.dark-theme, .white-theme) .left-sidebar-inner.flex-1.flex.flex-col.min-h-0 {
    background-color: var(--bg-color);
}

.cm-s-solarized span.cm-comment { color: #4c566a; }
.cm-s-solarized span.cm-atom { color: #b48ead; }
.cm-s-solarized span.cm-number { color: #b48ead; }

.cm-s-solarized span.cm-comment.cm-attribute { color: #97b757; }
.cm-s-solarized span.cm-comment.cm-def { color: #bc9262; }
.cm-s-solarized span.cm-comment.cm-tag { color: #bc6283; }
.cm-s-solarized span.cm-comment.cm-type { color: #5998a6; }

.cm-s-solarized span.cm-property, .cm-s-solarized span.cm-attribute { color: #8FBCBB; }
.cm-s-solarized span.cm-keyword { color: #81A1C1; }
.cm-s-solarized span.cm-builtin { color: #81A1C1; }
.cm-s-solarized span.cm-string { color: #A3BE8C; }

.dark-theme .cm-s-solarized span.cm-variable { color: #d8dee9;; }
.dark-theme .cm-s-solarized span.cm-variable-2 { color: #d8dee9;; }
.dark-theme .cm-s-solarized span.cm-variable-3, .cm-s-solarized span.cm-type { color: #d8dee9;; }
.cm-s-solarized span.cm-def { color: #8FBCBB; }
.cm-s-solarized span.cm-bracket { color: #81A1C1; }
.cm-s-solarized span.cm-tag { color: #bf616a; }
.cm-s-solarized span.cm-header { color: #b48ead; }
.cm-s-solarized span.cm-link { color: #b48ead; }
.cm-s-solarized span.cm-error { background: #bf616a; color: #f8f8f0; }
