@import '../code/base.css';

:root {
    --cl-title-text-color: var(--ct-title-text-color, var(--cl-primary, var(--cl-text-color)));
    --cl-external-link-color: var(--ct-external-link-color, var(--cl-primary, var(--cl-text-color)));
}

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: var(--ct-bg-color-h, 222);
    --background-color-s: var(--ct-bg-color-s, 16%);
    --background-color-l: var(--ct-bg-color-l, 22%);
    --cl-pdf-dark-background: hsl(var(--background-color-h),var(--background-color-s),var(--background-color-l));
    --cl-background: var(--ct-bg-color, var(--background-color-h), var(--background-color-s), calc(var(--background-color-l) * 1.30));
    --cl-text-color: var(--ct-text-color, var(--nord-snow-storm-nord6));
    --cl-primary: var(--ct-primary-color, var(--ct-primariy-color));
    --cl-secondary: var(--ct-secondary-color);
    --cl-accent: var(--ct-accent-color);
}

.white-theme,
.light-theme,
html[data-theme='light'] {
    --background-color-h: var(--ct-bg-color-h, 0);
    --background-color-s: var(--ct-bg-color-s, 0%);
    --background-color-l: var(--ct-bg-color-l, 100%);
    --cl-pdf-light-background: hsl(var(--background-color-h),var(--background-color-s),var(--background-color-l));
    --cl-background: var(--ct-bg-color, var(--background-color-h), var(--background-color-s), calc(var(--background-color-l) / 1.10));
    --cl-text-color: var(--ct-text-color, var(--nord-polar-night-nord0));
    --cl-primary: var(--ct-primary-color, var(--ct-primariy-color));
    --cl-secondary: var(--ct-secondary-color);
    --cl-accent: var(--ct-accent-color);
}

.dark-theme h1.title,
.light-theme h1.title {
    color: hsl(var(--cl-title-text-color)) !important;
}

.dark-theme .external-link,
.light-theme .external-link {
    color: hsl(var(--cl-external-link-color));
}
