@import '../code/base.css';

:root {
}

.white-theme,
.light-theme,
html[data-theme='light'] {
    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 99.61%;
    --cl-pdf-light-background: hsl(var(--background-color-h),var(--background-color-s),var(--background-color-l));
    --cl-background: var(--nord-snow-storm-nord6);
    --cl-text-color: var(--nord-polar-night-nord0);
    --cl-primary: var(--nord-frost-nord10);
    --cl-secondary: var(--nord-polar-night-nord3);
    --cl-accent: var(--nord-frost-nord8);
    /*
    --bullet-threading-active-color: #D08770;
    --bullet-threading-width: 2px;
    */
}

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 220; /* nord0 */
    --background-color-s: 16%;
    --background-color-l: 22%;
    --cl-pdf-dark-background: hsl(var(--background-color-h),var(--background-color-s),var(--background-color-l));
    --cl-background: var(--nord-polar-night-nord1);
    --cl-text-color: var(--nord-snow-storm-nord6);
    --cl-primary: var(--nord-frost-nord8);
    --cl-secondary: var(--nord-snow-storm-nord4);
    --cl-accent: var(--nord-frost-nord10);
    /*
    --bullet-threading-active-color: #D08770;
    --bullet-threading-width: 2px;
    */
}

.dark-theme #app-container,
.light-theme #app-container {
    background-color: var(--ls-primary-background-color);
}

/*
a[priority="A"]::before, a.priority[href="#/page/A" i]::before {
    color: hsl(var(--nord-aurora-nord11));
}
a[priority="B"]::before, a.priority[href="#/page/B" i]::before {
    color: hsl(var(--nord-aurora-nord12));
}
a[priority="C"]::before, a.priority[href="#/page/C" i]::before {
    color: hsl(var(--nord-aurora-nord14));
}
*/

.dark-theme .left-sidebar-inner.flex-1.flex.flex-col {
    background-color: hsl(var(--nord-polar-night-nord1));
    color: hsl(var(--cl-text-color));
}

.light-theme .left-sidebar-inner.flex-1.flex.flex-col {
    background-color: hsl(var(--nord-snow-storm-nord6));
    color: hsl(var(--cl-text-color));
}
/*
.light-theme h1.title {
    color: hsl(var(--nord-polar-night-nord3)) !important;
}

.dark-theme h1.title {
    color: hsl(var(--nord-frost-nord7)) !important;
}
*/

.light-theme .cm-s-solarized .cm-atom { color: #aa759f; }
.light-theme .cm-s-solarized .cm-number { color: #aa759f; }
.light-theme .cm-s-solarized .cm-comment.cm-attribute { color: #97b757; }
.light-theme .cm-s-solarized .cm-comment.cm-def { color: #bc9262; }
.light-theme .cm-s-solarized .cm-comment.cm-tag { color: #bc6283; }
.light-theme .cm-s-solarized .cm-comment.cm-type { color: #5998a6; }
.light-theme .cm-s-solarized .cm-keyword { color: #5E81AC; }
.light-theme .cm-s-solarized .cm-builtin { color: #5E81AC; }
.light-theme .cm-s-solarized .cm-bracket { color: #81A1C1; }
.light-theme .cm-s-solarized .cm-tag { color: #bf616a; }
.light-theme .cm-s-solarized .cm-header { color: #b48ead; }
.light-theme .cm-s-solarized .cm-link { color: #b48ead; }
.light-theme .cm-s-solarized .cm-error { background: #bf616a; color: #f8f8f0; }
.light-theme .cm-s-solarized .cm-def { color: #2aa198; }
.light-theme .cm-s-solarized .cm-variable { color: hsl(var(--nord-polar-night-nord1)); }
.light-theme .cm-s-solarized .cm-variable-2 { color: #b58900; }
.light-theme .cm-s-solarized .cm-variable-3, .cm-s-solarized .cm-type { color: #6c71c4; }
.light-theme .cm-s-solarized .cm-property { color: #2aa198; }
.light-theme .cm-s-solarized .cm-operator { color: #6c71c4; }
.light-theme .cm-s-solarized .cm-attribute { color: #2aa198; }
.light-theme .cm-s-solarized .cm-string { color: #859900; }
.light-theme .cm-s-solarized .cm-string-2 { color: #b58900; }

.light-theme .cm-s-lsradix .cm-atom { color: #aa759f; }
.light-theme .cm-s-lsradix .cm-number { color: #aa759f; }
.light-theme .cm-s-lsradix .cm-comment.cm-attribute { color: #97b757; }
.light-theme .cm-s-lsradix .cm-comment.cm-def { color: #bc9262; }
.light-theme .cm-s-lsradix .cm-comment.cm-tag { color: #bc6283; }
.light-theme .cm-s-lsradix .cm-comment.cm-type { color: #5998a6; }
.light-theme .cm-s-lsradix .cm-keyword { color: #5E81AC; }
.light-theme .cm-s-lsradix .cm-builtin { color: #5E81AC; }
.light-theme .cm-s-lsradix .cm-bracket { color: #81A1C1; }
.light-theme .cm-s-lsradix .cm-tag { color: #bf616a; }
.light-theme .cm-s-lsradix .cm-header { color: #b48ead; }
.light-theme .cm-s-lsradix .cm-link { color: #b48ead; }
.light-theme .cm-s-lsradix .cm-error { background: #bf616a; color: #f8f8f0; }
.light-theme .cm-s-lsradix .cm-def { color: #2aa198; }
.light-theme .cm-s-lsradix .cm-variable { color: hsl(var(--nord-polar-night-nord1)); }
.light-theme .cm-s-lsradix .cm-variable-2 { color: #b58900; }
.light-theme .cm-s-lsradix .cm-variable-3, .cm-s-lsradix .cm-type { color: #6c71c4; }
.light-theme .cm-s-lsradix .cm-property { color: #2aa198; }
.light-theme .cm-s-lsradix .cm-operator { color: #6c71c4; }
.light-theme .cm-s-lsradix .cm-attribute { color: #2aa198; }
.light-theme .cm-s-lsradix .cm-string { color: #859900; }
.light-theme .cm-s-lsradix .cm-string-2 { color: #b58900; }

.dark-theme .cm-s-solarized .cm-atom { color: #b48ead; }
.dark-theme .cm-s-solarized .cm-number { color: #b48ead; }
.dark-theme .cm-s-solarized .cm-comment.cm-attribute { color: #97b757; }
.dark-theme .cm-s-solarized .cm-comment.cm-def { color: #bc9262; }
.dark-theme .cm-s-solarized .cm-comment.cm-tag { color: #bc6283; }
.dark-theme .cm-s-solarized .cm-comment.cm-type { color: #5998a6; }
.dark-theme .cm-s-solarized .cm-property,
.dark-theme .cm-s-solarized .cm-attribute { color: #8FBCBB; }
.dark-theme .cm-s-solarized .cm-keyword { color: #81A1C1; }
.dark-theme .cm-s-solarized .cm-builtin { color: #81A1C1; }
.dark-theme .cm-s-solarized .cm-string { color: #A3BE8C; }
.dark-theme .cm-s-solarized .cm-variable { color: #d8dee9; }
.dark-theme .cm-s-solarized .cm-variable-2 { color: #d8dee9; }
.dark-theme .cm-s-solarized .cm-variable-3,
.dark-theme .cm-s-solarized .cm-type { color: #d8dee9; }
.dark-theme .cm-s-solarized .cm-def { color: #8FBCBB; }
.dark-theme .cm-s-solarized .cm-bracket { color: #81A1C1; }
.dark-theme .cm-s-solarized .cm-tag { color: #bf616a; }
.dark-theme .cm-s-solarized .cm-header { color: #b48ead; }
.dark-theme .cm-s-solarized .cm-link { color: #b48ead; }
.dark-theme .cm-s-solarized .cm-error { background: #bf616a; color: #f8f8f0; }

.dark-theme .cm-s-lsradix .cm-atom { color: #b48ead; }
.dark-theme .cm-s-lsradix .cm-operator { color: #81A1C1; }
.dark-theme .cm-s-lsradix .cm-number { color: #b48ead; }
.dark-theme .cm-s-lsradix .cm-comment.cm-attribute { color: #97b757; }
.dark-theme .cm-s-lsradix .cm-comment.cm-def { color: #bc9262; }
.dark-theme .cm-s-lsradix .cm-comment.cm-tag { color: #bc6283; }
.dark-theme .cm-s-lsradix .cm-comment.cm-type { color: #5998a6; }
.dark-theme .cm-s-lsradix .cm-property,
.dark-theme .cm-s-lsradix .cm-attribute { color: #8FBCBB; }
.dark-theme .cm-s-lsradix .cm-keyword { color: #81A1C1; }
.dark-theme .cm-s-lsradix .cm-builtin { color: #81A1C1; }
.dark-theme .cm-s-lsradix .cm-string { color: #A3BE8C; }
.dark-theme .cm-s-lsradix .cm-variable { color: #d8dee9; }
.dark-theme .cm-s-lsradix .cm-variable-2 { color: #d8dee9; }
.dark-theme .cm-s-lsradix .cm-variable-3,
.dark-theme .cm-s-lsradix .cm-type { color: #d8dee9; }
.dark-theme .cm-s-lsradix .cm-def { color: #8FBCBB; }
.dark-theme .cm-s-lsradix .cm-bracket { color: #81A1C1; }
.dark-theme .cm-s-lsradix .cm-tag { color: #bf616a; }
.dark-theme .cm-s-lsradix .cm-header { color: #b48ead; }
.dark-theme .cm-s-lsradix .cm-link { color: #b48ead; }
.dark-theme .cm-s-lsradix .cm-error { background: #bf616a; color: #f8f8f0; }
