@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 0;
    --ct-bg-color-s: 0%;
    --ct-bg-color-l: 12%;
    --ct-bg-color: 0,0%,22%;
    --ct-text-color: 0,0%,85%;
    --ct-primariy-color: 258,100%,77%;
    --ct-secondary-color: 258,100%,77%;
    --ct-accent-color: 258,100%,77%;
}

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 0;
    --ct-bg-color-s: 0%;
    --ct-bg-color-l: 100%;
    --ct-bg-color: 0,0%,90%;
    --ct-text-color: 0,0%,13%;
    --ct-primariy-color: 258,50%,48%;
    --ct-secondary-color: 258,50%,48%;
    --ct-accent-color: 258,50%,48%;
}