@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 202;
    --ct-bg-color-s: 32%;
    --ct-bg-color-l: 15%;
    --ct-bg-color: 202,32%,25%;
    --ct-text-color: 219,28%,88%;
    --ct-primariy-color: 357,79%,65%;
    --ct-secondary-color: 40,94%,68%;
    --ct-accent-color: 210,50%,60%;
}