@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 202;
    --ct-bg-color-s: 32%;
    --ct-bg-color-l: 15%;
    --ct-bg-color: 202, 32%, 25%;
    --ct-text-color: 38, 41%, 85%;
    --ct-primariy-color: 179, 35%, 54%;
    --ct-secondary-color: 84, 42%, 62%;
    --ct-accent-color: 300, 30%, 68%;
}

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 38;
    --ct-bg-color-s: 41%;
    --ct-bg-color-l: 91%;
    --ct-bg-color: 38, 41%, 81%;
    --ct-text-color: 202, 32%, 15%;
    --ct-primariy-color: 179, 35%, 42%;
    --ct-secondary-color: 84, 42%, 47%;
    --ct-accent-color: 300, 30%, 54%;
}