@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 225;
    --ct-bg-color-s: 7%;
    --ct-bg-color-l: 14%;
    --ct-bg-color: 225,7%,24%;
    --ct-text-color: 230,6%,81%;
    --ct-primariy-color: 25,85%,55%;
    --ct-secondary-color: 313,32%,60%;
    --ct-accent-color: 196,64%,58%;
}