@import "./nord-custom.css";

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 220;
    --ct-bg-color-s: 13%;
    --ct-bg-color-l: 18%;
    --ct-bg-color: 222, 13%, 26%;
    --ct-text-color: 219, 14%, 71%;
    --ct-primariy-color: 207, 81%, 66%;
    --ct-secondary-color: 187, 47%, 55%;
    --ct-accent-color: 286,60%,67%;
    --ct-title-text-color: 219, 14%, 71%;
}

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 0;
    --ct-bg-color-s: 0%;
    --ct-bg-color-l: 98%;
    --ct-bg-color: 0,0%,88%;
    --ct-text-color: 0,0%,42%;
    --ct-primariy-color: 198,84%,42%;
    --ct-secondary-color: 116, 81%, 37%;
    --ct-accent-color: 39, 86%, 54%;
}
