@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 210;
    --ct-bg-color-s: 2%;
    --ct-bg-color-l: 16%;
    --ct-bg-color: 210,2%,26%;
    --ct-text-color: 0,0%,90%;
    --ct-primariy-color: 171,95%,54%;
    --ct-secondary-color: 337,100%,80%;
    --ct-accent-color: 33,100%,69%;
}