@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 27;
    --ct-bg-color-s: 14%;
    --ct-bg-color-l: 15%;
    --ct-bg-color: 27,14%,25%;
    --ct-text-color: 33,50%,80%;
    --ct-primariy-color: 50,100%,46%;
    --ct-secondary-color: 4,90%,61%;
    --ct-accent-color: 198,57%,55%;
}

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 33;
    --ct-bg-color-s: 36%;
    --ct-bg-color-l: 95%;
    --ct-bg-color: 33,36%,85%;
    --ct-text-color: 31,45%,20%;
    --ct-primariy-color: 43,100%,37%;
    --ct-secondary-color: 205,66%,46%;
    --ct-accent-color: 4,72%,55%;
}