@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 246;
    --ct-bg-color-s: 24%;
    --ct-bg-color-l: 17%;
    --ct-bg-color: 246,24%,27%;
    --ct-text-color: 245, 50%, 91%;
    --ct-primariy-color: 343, 76%, 68%;
    --ct-secondary-color: 267, 57%, 78%;
    --ct-accent-color: 2, 66%, 75%;
}

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 32;
    --ct-bg-color-s: 57%;
    --ct-bg-color-l: 95%;
    --ct-bg-color: 32,57%,85%;
    --ct-text-color: 248, 19%, 40%;
    --ct-primariy-color: 343, 35%, 55%;
    --ct-secondary-color: 268, 21%, 57%;
    --ct-accent-color: 3, 53%, 67%;
}