@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 231;
    --ct-bg-color-s: 15%;
    --ct-bg-color-l: 18%;
    --ct-bg-color: 231,15%,28%;
    --ct-text-color: 0,0%,98%;
    --ct-primariy-color: 325,100%,71%;
    --ct-secondary-color: 190, 98%, 80%;
    --ct-accent-color: 64, 88%, 80%;
}

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 210;
    --ct-bg-color-s: 25%;
    --ct-bg-color-l: 98%;
    --ct-bg-color: 210,25%,88%;
    --ct-text-color: 234,10%,37%;
    --ct-primariy-color: 179,82%,40%;
    --ct-secondary-color: 325,90%,69%;
    --ct-accent-color: 200,93%,48%;
}