@import '../code/base.css';

/* Comment */

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 0;
    --ct-bg-color-s: 25%;
    --ct-bg-color-l: 97%;
    --ct-bg-color: 0,25%,87%;
    --ct-text-color: 353,20%,66%;
    --ct-primariy-color: 288,40%,73%;
    --ct-secondary-color: 248,44%,78%;
    --ct-accent-color: 209,63%,70%;
    --cl-gray: rgb(217,200,200);
}