@import '../code/base.css';

/* Comment */

.white-theme,
html[data-theme='light'] {
    --background-color-h: 0;
    --background-color-s: 25%;
    --background-color-l: 97%;
    --cl-background: 0,25%,87%;
    --cl-text-color: 353,20%,66%;
    --cl-primary: 288,40%,73%;
    --cl-secondary: 248,44%,78%;
    --cl-accent: 209,63%,70%;
    --cl-gray: rgb(217,200,200);
}