@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 192;
    --background-color-s: 100%;
    --background-color-l: 11%;
    --cl-background: 192,100%,21%;
    --cl-text-color: 186,8%,55%;
    --cl-primary: 205,69%,49%;
    --cl-secondary: 68,100%,30%;
    --cl-accent: 175,52%,43%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 44;
    --background-color-s: 87%;
    --background-color-l: 94%;
    --cl-background: 44,87%,84%;
    --cl-text-color: 192,100%,11%;
    --cl-primary: 175,59%,40%;
    --cl-secondary: 45,100%,35%;
    --cl-accent: 68,100%,30%;
}