@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 192;
    --ct-bg-color-s: 100%;
    --ct-bg-color-l: 11%;
    --ct-bg-color: 192,100%,21%;
    --ct-text-color: 186,8%,55%;
    --ct-primariy-color: 205,69%,49%;
    --ct-secondary-color: 68,100%,30%;
    --ct-accent-color: 175,52%,43%;
}

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 44;
    --ct-bg-color-s: 87%;
    --ct-bg-color-l: 94%;
    --ct-bg-color: 44,87%,84%;
    --ct-text-color: 192,100%,11%;
    --ct-primariy-color: 175,59%,40%;
    --ct-secondary-color: 45,100%,35%;
    --ct-accent-color: 68,100%,30%;
}