@import '../code/base.css';

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 51;
    --ct-bg-color-s: 30%;
    --ct-bg-color-l: 82%;
    --ct-bg-color: 51, 30%, 72%;
    --ct-text-color: 4, 26%, 24%;
    --ct-primariy-color: 13, 64%, 35%;
    --ct-secondary-color: 343, 93%, 41%;
    --ct-accent-color: 13, 64%, 35%;
}