@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 216;
    --background-color-s: 11%;
    --background-color-l: 18%;
    --cl-background: 216,11%,28%;
    --cl-text-color: 74,15%,73%;
    --cl-primary: 14,51%,63%;
    --cl-secondary: 209,13%,35%;
    --cl-accent: 310, 19%, 56%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 220;
    --background-color-s: 23%;
    --background-color-l: 95%;
    --cl-background: 220,23%,85%;
    --cl-text-color: 209,13%,35%;
    --cl-primary: 16,29%,54%;
    --cl-secondary: 210,19%,63%;
    --cl-accent: 210,19%,63%;
}