@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 250;
    --ct-bg-color-s: 20%;
    --ct-bg-color-l: 17%;
    --ct-bg-color: 250, 20%, 27%;
    --ct-text-color: 270, 5%, 93%;
    --ct-primariy-color: 180, 100%, 63%;
    --ct-secondary-color: 48, 99%, 68%;
    --ct-accent-color: 27, 78%, 62%;
}

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 220;
    --ct-bg-color-s: 23%;
    --ct-bg-color-l: 95%;
    --ct-bg-color: 220,23%,85%;
    --ct-text-color: 209,13%,35%;
    --ct-primariy-color: 16,29%,54%;
    --ct-secondary-color: 210,19%,63%;
    --ct-accent-color: 210,19%,63%;
}