@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 201;
    --ct-bg-color-s: 42%;
    --ct-bg-color-l: 11%;
    --ct-bg-color: 201,42%,21%;
    --ct-text-color: 0,0%,93%;
    --ct-primariy-color: 183,53%,55%;
    --ct-secondary-color: 14,93%,55%;
    --ct-accent-color: 183,53%,55%;
}