@import '../code/base.css';

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 0;
    --ct-bg-color-s: 0%;
    --ct-bg-color-l: 100%;
    --ct-bg-color: 0,0%,90%;
    --ct-text-color: 60,1%,30%;
    --ct-secondary-color: 214,45%,47%;
    --ct-primariy-color: 184,44%,43%;
    --ct-accent-color: 276,31%,50%;
}