@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 190;
    --background-color-s: 31%;
    --background-color-l: 10%;
    --cl-background: 190,31%,20%;
    --cl-secondary: 5,62%,62%;
    --cl-primary: 185,55%,50%;
    --cl-accent: 149,58%,74%;
    --cl-text-color: 140,11%,78%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 190;
    --background-color-s: 31%;
    --background-color-l: 98%;
    --cl-background: 190,31%,88%;
    --cl-secondary: 353,86%,54%;
    --cl-primary: 185,100%,35%;
    --cl-accent: 168,53%,48%;
    --cl-text-color: 215,50%,23%;
}