@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 190;
    --ct-bg-color-s: 31%;
    --ct-bg-color-l: 10%;
    --ct-bg-color: 190,31%,20%;
    --ct-secondary-color: 5,62%,62%;
    --ct-primariy-color: 185,55%,50%;
    --ct-accent-color: 149,58%,74%;
    --ct-text-color: 140,11%,78%;
}

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 190;
    --ct-bg-color-s: 31%;
    --ct-bg-color-l: 98%;
    --ct-bg-color: 190,31%,88%;
    --ct-secondary-color: 353,86%,54%;
    --ct-primariy-color: 185,100%,35%;
    --ct-accent-color: 168,53%,48%;
    --ct-text-color: 215,50%,23%;
}