@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 210;
    --ct-bg-color-s: 23%;
    --ct-bg-color-l: 5%;
    --ct-bg-color: 210,23%,15%;
    --ct-text-color: 207,18%,70%;
    --ct-primariy-color: 317,100%,76%;
    --ct-secondary-color: 212,100%,73%;
    --ct-accent-color: 77,67%,68%;
}

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 180;
    --ct-bg-color-s: 20%;
    --ct-bg-color-l: 98%;
    --ct-bg-color: 180,20%,88%;
    --ct-text-color: 203,24%,15%;
    --ct-secondary-color: 317,100%,75%;
    --ct-primariy-color: 272,100%,79%;
    --ct-accent-color: 77,48%,55%;
}