@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --ct-bg-color-h: 195;
    --ct-bg-color-s: 4%;
    --ct-bg-color-l: 22%;
    --ct-bg-color: 195,4%,32%;
    --ct-text-color: 34,78%,91%;
    --ct-primariy-color: 145,34%,49%;
    --ct-secondary-color: 343,92%,67%;
    --ct-accent-color: 18,100%,61%;
}

.white-theme,
html[data-theme='light'] {
    --ct-bg-color-h: 33;
    --ct-bg-color-s: 45%;
    --ct-bg-color-l: 92%;
    --ct-bg-color: 33,45%,82%;
    --ct-text-color: 195,4%,22%;
    --ct-primariy-color: 145,34%,49%;
    --ct-secondary-color: 343,92%,67%;
    --ct-accent-color: 18,100%,61%;
}